﻿@model IEnumerable<Library.Models.Books.BookVM>

@{
    ViewData["Title"] = "Books";
}

<h1>Book List</h1>
<form method="post">
    <div class="col-md-12">
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <input class="form-control" type="text" name="SearchName" style="float:right;" placeholder="Enter book name" />
        </div>
        <div class="col-md-2">
            <button style="float:right;" type="submit" class="btn btn-block btn-primary" asp-action="SearchBook" asp-controller="Library">Search</button>
        </div>
    </div>
</form>
<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
               Genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.Genres)
                </td>
                <td>
                    @Html.ActionLink("Details", "BookDetails", new { id = item.BookId })
                    @Html.ActionLink("Preview", "DownloadBook", new { id = item.BookId })
                    @*@Html.ActionLink("Delete", "DeleteBook", new { id = item.BookId })*@
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<div>
    @Html.ActionLink("Add book", "AddBook") &ensp;&ensp;
    @Html.ActionLink("Back to Home page", "Index")
</div>