﻿
@{
    ViewData["Title"] = "DeleteBook";
}

<h2>Delete Book</h2>


<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>


<hr/>
@using (Html.BeginForm("DeleteBook", "Library", FormMethod.Post))
{
    <div class="form-group">
        <input type="submit" value="Yes" class="btn btn-primary" />
    </div>
}
