﻿@model Library.Models.Users.EditUserVM
@{
    ViewData["Title"] = "EditUser";
}

<h2>Edit User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditUser", "Library", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MaritalStatuses)
                @Html.DropDownListFor(model => model.MaritalStatusId, Model.MaritalStatuses, new { @class = "form-control " })
            </div>
            <div class="form-group">
                <input type="submit" value="Add User" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to Home page", "Index")
</div>