﻿@model Library.Models.Books.BookVM
@{
    ViewData["Title"] = "EditBook";
}

<h2>Edit book</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditBook", "Library", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.BookId)

            <div class="form-group">
                @Html.LabelFor(model => model.Caption)
                @Html.TextBoxFor(model => model.Caption, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Caption)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Author)
                @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Author)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseDate)
                @Html.EditorFor(model => model.ReleaseDate, new { @class = "form-control datepicker", placeholder = "Enter Release Date here..." })
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>

            <div class="form-group">
                <input type="submit" value="Add Book" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to Home page", "Index")
</div>