﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add Book", "AddBook")

<hr />

@Html.ActionLink("Add User", "AddUser")

<hr />

@Html.ActionLink("List of books", "Books")


<hr />

@Html.ActionLink("List of users", "Users")

