﻿@model IEnumerable<Library.Models.Users.UserVM>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                  @*  @Html.ActionLink("Edit", "EditUser", new { @class="EditUserVM", id = item.UserId })*@
                    @Html.ActionLink("User details", "DetailsUser",new { id = item.UserId })
                    @*@Html.ActionLink("Delete", "DeleteUser", new { id = item.UserId })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
  @*  @Html.ActionLink("Add user", "AddUser") &ensp;&ensp;*@
    @Html.ActionLink("Back to Home page", "Index")
</div>